@import url("https://fonts.googleapis.com/css?family=Dosis:400,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --main-color: rgb(1, 15, 64);
}

body {
  background-image: url(/assets/images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Dosis", sans-serif;
}

body #inlog-div {
  display: block;
  width: 350px;
  height: 350px;
  background-color: white;
  padding: 3rem;
  text-align: center;
  color: var(--main-color);
  border: 5px solid var(--main-color);
  border-radius: 50px;
  -webkit-box-shadow: 0 0 120px 10px var(--main-color);
          box-shadow: 0 0 120px 10px var(--main-color);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

body #inlog-div::before, body #inlog-div::after {
  content: "";
  display: block;
  position: absolute;
  background-size: 100% 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body #inlog-div::before {
  background-image: url(/assets/images/decoration1.png);
  width: 170px;
  height: 200px;
  left: -40px;
  top: -45px;
}

body #inlog-div::after {
  background-image: url(/assets/images/decoration2.png);
  width: 400px;
  height: 105px;
  left: -30px;
  top: 280px;
}

body #inlog-div.logged-in {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

body #inlog-div.logged-in::before, body #inlog-div.logged-in::after {
  opacity: 0;
}

body #inlog-div.logged-in span,
body #inlog-div.logged-in #input-answer,
body #inlog-div.logged-in #output-answer {
  opacity: 0;
}

body #inlog-div > span {
  display: block;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body #inlog-div > span:first-of-type {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

body #inlog-div > span:nth-of-type(2) {
  font-size: 1.2rem;
  padding: 1rem 0;
}

body #inlog-div #input-answer,
body #inlog-div #output-answer {
  display: block;
  width: 100%;
  margin: 1rem 0;
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--main-color);
  text-align: center;
  line-height: 30px;
}

body #inlog-div #output-answer {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

body #inlog-div #output-answer:hover {
  background-color: var(--main-color);
  color: white;
}

body #inlog-div #normal-content,
body #inlog-div #present {
  display: none;
}

body #inlog-div.show-everything {
  width: 600px;
  height: 600px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

body #inlog-div.show-everything::before, body #inlog-div.show-everything::after {
  display: none;
}

body #inlog-div.show-everything.show-text #normal-content {
  display: block;
  text-align: justify;
  line-height: 2rem;
}

body #inlog-div.show-everything.show-text #normal-content p {
  display: block;
}

body #inlog-div.show-everything.show-text #normal-content p:last-of-type {
  text-align: center;
  font-size: 3rem;
}

body #inlog-div.show-everything.show-text #present {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  bottom: -90px;
  width: 100px;
  height: 100px;
  margin: 3rem auto 0 auto;
  border-radius: 50%;
  border: 2px solid white;
  background-color: var(--main-color);
  background-image: -webkit-radial-gradient(#404969 5%, var(--main-color) 95%);
  background-image: -o-radial-gradient(#404969 5%, var(--main-color) 95%);
  background-image: radial-gradient(#404969 5%, var(--main-color) 95%);
  -webkit-box-shadow: 0 0 30px 0 var(--main-color);
          box-shadow: 0 0 30px 0 var(--main-color);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body #inlog-div.show-everything.show-text #present::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(/assets/images/present-closed.png);
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center;
}

body #inlog-div.show-everything.show-text #present:hover::after {
  background-image: url(/assets/images/present-open.png);
}

body #inlog-div.show-everything.show-text #present p,
body #inlog-div.show-everything.show-text #present h1,
body #inlog-div.show-everything.show-text #present h2,
body #inlog-div.show-everything.show-text #present h3,
body #inlog-div.show-everything.show-text #present img,
body #inlog-div.show-everything.show-text #present br,
body #inlog-div.show-everything.show-text #present table,
body #inlog-div.show-everything.show-text #present #close-button {
  display: none;
}

body #inlog-div.show-everything.show-text #present.opened {
  color: white;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  position: absolute;
  border-radius: 0;
  border: none;
  background-image: none;
  padding: 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
  line-height: 1.8rem;
}

body #inlog-div.show-everything.show-text #present.opened::after {
  display: none;
}

body #inlog-div.show-everything.show-text #present.opened p,
body #inlog-div.show-everything.show-text #present.opened h1,
body #inlog-div.show-everything.show-text #present.opened h2,
body #inlog-div.show-everything.show-text #present.opened h3,
body #inlog-div.show-everything.show-text #present.opened img,
body #inlog-div.show-everything.show-text #present.opened br,
body #inlog-div.show-everything.show-text #present.opened table {
  display: block;
}

body #inlog-div.show-everything.show-text #present.opened img {
  width: 100%;
}

body #inlog-div.show-everything.show-text #present.opened img.swirl {
  display: block;
  margin: auto;
  width: 100px;
}

body #inlog-div.show-everything.show-text #present.opened img.swirl:first-of-type {
  width: 200px;
}

body #inlog-div.show-everything.show-text #present.opened table {
  padding: 0;
  display: inline-block;
}

body #inlog-div.show-everything.show-text #present.opened table tr {
  padding: 0;
}

body #inlog-div.show-everything.show-text #present.opened table tr td {
  padding: 0 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

body #inlog-div.show-everything.show-text #present.opened table tr td img {
  height: 50px;
  width: auto;
  padding-bottom: 0.5rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid transparent;
}

body #inlog-div.show-everything.show-text #present.opened table tr td img:hover {
  border-bottom: 2px solid white;
}

body #inlog-div.show-everything.show-text #present.opened #close-button {
  position: fixed;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  top: 20px;
  right: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 6px;
  text-align: center;
  font-size: 1.5rem;
  background-color: var(--main-color);
}

body #inlog-div.show-everything.show-text #present.opened #close-button:hover {
  background-color: white;
  color: var(--main-color);
}

body #inlog-div.show-everything.show-text #present.opened #close-button .fas {
  display: block;
  margin: auto;
}
/*# sourceMappingURL=styles.css.map */